html {
  font-size: 100%;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #EDEEF0;
  font-size: 14px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul li,
ol li {
  list-style: none;
  display: block;
  margin: 0;
}

span {
  display: inline-block;
}

ul, ol {
  display: block;
  margin: 0;
  padding-left: 0;
}

strong {
  display: inline-block;
}

button {
  outline: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

nav {
  position: fixed;
}

.hidden {
  display: none;
}

.site-wrap {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  max-width: 970px;
  width: 100%;
}

.header {
  background: #4A76A8;
  padding: 7px 0;
  -webkit-box-shadow: 0 1px 3px 0 #4A76A8;
          box-shadow: 0 1px 3px 0 #4A76A8;
  z-index: 1000;
  width: 100%;
  position: fixed;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  width: 100%;
}

.header-wrapper__logo {
  max-width: 30px;
  width: 100%;
}

.header-wrapper__form-control {
  width: 230px;
  outline: none;
  border-radius: 25px;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  background: #224B7A;
}

.header-wrapper__form-control::-webkit-input-placeholder {
  color: #81ADC3;
}

.header-wrapper__switch-english a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.main {
  padding-top: 110px;
  min-height: 100vh;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-wrapper__left {
  text-align: center;
  width: 54%;
}

.main-wrapper__content {
  margin-bottom: 20px;
}

.main-wrapper__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-wrapper__description {
  font-size: 14px;
  line-height: 20px;
}

.main-wrapper__picture {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.main-wrapper__auth {
  padding: 25px;
  background: #fff;
  border-radius: 4px;
}

.main-wrapper__form-control {
  width: 270px;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #D3D9DE;
  margin-bottom: 12px;
}

.main-wrapper__door {
  background: #4A76A8;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 8px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-wrapper__door:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  background: #1e6fb1;
}

.main-wrapper__reg {
  margin-top: 30px;
  padding: 25px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
}

.main-wrapper__headline {
  font-weight: 600;
  font-size: 21px;
  line-height: 17px;
}

.main-wrapper__subtitle {
  font-size: 14px;
  margin-bottom: 15px;
}

.main-wrapper__registration {
  background: #5FB053;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-wrapper__registration:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #63c055;
}

.main-wrapper__data {
  max-width: 153px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
  font-weight: 600;
}

.main-wrapper__data span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  font-weight: 400;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px 0 #000;
          box-shadow: 0 0 3px 0 #000;
  font-size: 13px;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-wrapper__data span:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 5px 0 #000;
          box-shadow: 0 0 5px 0 #000;
}

.main-wrapper__select-wrp {
  margin-bottom: 15px;
}

.main-wrapper__select-wrp select {
  width: 100%;
  padding: 4px 0;
  font-size: 14px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 1.2px 0 #000;
          box-shadow: 0 0 1.2px 0 #000;
  margin-bottom: 10px;
  background: #2f9dbc10;
}

.myPage {
  margin-top: 55px;
}

.myPage-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.myPage-wrapper__left {
  margin-right: 165px;
}

.myPage-wrapper__link {
  color: #285473;
  padding: 5px 5px 5px 25px;
  width: 146px;
  border-radius: 3px;
  position: relative;
}

.myPage-wrapper__link:hover {
  background: #9e9e9e2a;
  text-decoration: none;
}

.myPage-wrapper__link i {
  position: absolute;
  left: 5px;
  font-size: 17px;
  opacity: .5;
}

.myPage-wrapper__center {
  max-width: 230px;
  width: 100%;
  margin-right: 15px;
}

.myPage-wrapper__avatar {
  padding: 15px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px 0 #bebcbc;
          box-shadow: 0 0 3px 0 #bebcbc;
}

.myPage-wrapper__photo {
  border-radius: 3px;
  margin-bottom: 12px;
}

.myPage-wrapper__photo img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

.myPage-wrapper__edit {
  color: #285473;
  display: block;
  text-align: center;
  background: #E5EBF1;
  border-radius: 3px;
  padding: 6px 0;
}

.myPage-wrapper__edit:hover {
  background: #dee5eb;
  text-decoration: none;
}

.myPage-wrapper__friends {
  margin-top: 15px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px 0 #bebcbc;
          box-shadow: 0 0 3px 0 #bebcbc;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.myPage-wrapper__top {
  max-width: 105px;
  width: 100%;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.myPage-wrapper__top a {
  text-decoration: none;
  color: #285473;
}

.myPage-wrapper__count {
  color: #7a7878;
}

.myPage-wrapper__people {
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.myPage-wrapper__people:nth-child(4), .myPage-wrapper__people:nth-child(5), .myPage-wrapper__people:nth-child(6) {
  margin-bottom: 0;
}

.myPage-wrapper__people img {
  max-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}

.myPage-wrapper__wrp-piple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.myPage-wrapper__name {
  margin-top: 5px;
  font-size: 12px;
  display: block;
  color: #285473;
}

.myPage-wrapper__wrp-subscriptions {
  padding: 15px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px 0 #bebcbc;
          box-shadow: 0 0 3px 0 #bebcbc;
}

.myPage-wrapper__img {
  margin-right: 10px;
}

.myPage-wrapper__subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.myPage-wrapper__subscription:last-child {
  margin-bottom: 0;
}

.myPage-wrapper__subscription img {
  max-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}

.myPage-wrapper__title {
  display: block;
  color: #285473;
  text-align: left;
  font-size: 14px;
}

.myPage-wrapper__subtitle {
  font-size: 11px;
}

.myPage-wrapper__right {
  max-width: 520px;
  width: 100%;
}

.myPage-wrapper__info {
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px 0 #bebcbc;
          box-shadow: 0 0 3px 0 #bebcbc;
}

.myPage-wrapper__top-header {
  padding: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E7E8EC;
}

.myPage-wrapper__wrp-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.myPage-wrapper__name-lastname {
  font-size: 19px;
}

.myPage-wrapper__data-time {
  font-size: 12.5px;
  font-weight: 600;
  color: #808080;
}

.myPage-wrapper__data-time i {
  font-size: 14px;
}

.myPage-wrapper__status {
  color: #808080;
  font-size: 12.5px;
  font-weight: 600;
  padding: 2px 0;
  display: block;
}

.myPage-wrapper__status:hover {
  background: #ececec9d;
  cursor: pointer;
}

.myPage-wrapper__top-main {
  padding: 15px;
}

.myPage-wrapper__wrp-fix-info {
  max-width: 370px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.myPage-wrapper__birthday {
  color: #808080;
}

.myPage-wrapper__date-birth {
  padding-right: 4px;
  color: #4A76A8;
}

.myPage-wrapper__sity {
  color: #808080;
}

.myPage-wrapper__sity-name {
  color: #4A76A8;
}

.myPage-wrapper__hide-activ {
  padding: 8px 0;
  padding-left: 47px;
  text-align: center;
  display: block;
  border-radius: 3px;
  color: #4A76A8;
}

.myPage-wrapper__hide-activ:hover {
  cursor: pointer;
  background: #ececec9d;
}

.myPage-wrapper__show-block {
  display: none;
}

.myPage-wrapper__hide-activ {
  margin-bottom: 10px;
}

.myPage-wrapper__wrp-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.myPage-wrapper__item:hover .myPage-wrapper__edit-info {
  display: block;
}

.myPage-wrapper__nuts {
  white-space: nowrap;
  padding-right: 5px;
}

.myPage-wrapper__line {
  width: 100%;
  height: 1px;
  background: #E7E8EC;
}

.myPage-wrapper__edit-info {
  color: #808080;
  padding-left: 5px;
  display: none;
}

.myPage-wrapper__top-footer {
  border-top: 1px solid #E7E8EC;
}

.myPage-wrapper__top-wrp-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.myPage-wrapper__top-counter {
  padding: 15px 0;
}

.myPage-wrapper__top-counter:hover .myPage-wrapper__label {
  color: #4A76A8;
}

.myPage-wrapper__top-page-link {
  text-decoration: none !important;
  text-align: center;
}

.myPage-wrapper__count {
  color: #4A76A8;
  font-size: 21px;
  font-weight: 600;
}

.myPage-wrapper__label {
  color: #808080;
  font-size: 14px;
}

.myPage-wrapper__my-photo {
  margin-top: 15px;
}

.myPage-wrapper__top-photo {
  padding: 15px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px 0 #bebcbc;
          box-shadow: 0 0 3px 0 #bebcbc;
}

.myPage-wrapper__link-no-decoration {
  color: #000;
  text-decoration: none !important;
  margin-bottom: 15px;
}

.myPage-wrapper__count1 {
  color: #808080;
}

.myPage-wrapper__wrp-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.myPage-wrapper__itm {
  position: relative;
  overflow: hidden;
}

.myPage-wrapper__itm img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

.myPage-wrapper__itm img:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.myMessages {
  margin-top: 55px;
}

.myMessages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.myMessages-wrapper__center {
  width: 81.7%;
}

.myMessages-wrapper__messages-list {
  -webkit-box-shadow: 0 0 3px 0 #bebcbc;
          box-shadow: 0 0 3px 0 #bebcbc;
  border-radius: 3px;
  background: #fff;
}

.myMessages-wrapper__item {
  padding: 15px;
  border-bottom: 1px solid #E7E8EC;
  cursor: pointer;
  border-radius: 3px;
}

.myMessages-wrapper__item:hover {
  background: #e0dbdb33;
}

.myMessages-wrapper__item:hover i {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  color: #808080;
}

.myMessages-wrapper__wrd-display-mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myMessages-wrapper__avatar-left {
  margin-right: 15px;
}

.myMessages-wrapper__avatar-left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.myMessages-wrapper__content {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.myMessages-wrapper__wrp-name-time {
  width: 100%;
  line-height: 25px;
  position: relative;
}

.myMessages-wrapper__wrp-name-time i {
  position: absolute;
  right: 0;
  top: 5px;
  color: #fff;
  font-size: 13px;
}

.myMessages-wrapper__wrp-name-time i:hover {
  color: tomato;
}

.myMessages-wrapper__name {
  font-weight: 600;
}

.myMessages-wrapper__time {
  font-weight: 600;
  color: #808080;
}

.myMessages-wrapper__message-window-last {
  width: 97%;
  background: #ececec75;
  border-radius: 3px;
  padding: 3px 8px;
}

@media only screen and (max-width: 768px) {
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}
/*# sourceMappingURL=main.css.map */